/************************0 fonts 0****************/

/*------------google fonts--------------*/
	@font-face {
		font-family: 'Material Icons';
		font-style: normal;
		font-weight: 400;
		src: url('../fonts/googleFont/googleFont1.woff2') format('woff2');
	}
	@font-face {
		font-family: 'Material Icons Outlined';
		font-style: normal;
		font-weight: 400;
		src: url('../fonts/googleFont/googleFont2.woff2') format('woff2');
	}
	@font-face {
		font-family: 'Material Icons Round';
		font-style: normal;
		font-weight: 400;
		src: url('../fonts/googleFont/googleFont3.woff2') format('woff2');
	}
	@font-face {
		font-family: 'Material Icons Sharp';
		font-style: normal;
		font-weight: 400;
		src: url('../fonts/googleFont/googleFont4.woff2') format('woff2');
	}
	@font-face {
		font-family: 'Material Icons Two Tone';
		font-style: normal;
		font-weight: 400;
		src: url('../fonts/googleFont/googleFont5.woff2') format('woff2');
	}

	.material-icons {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		line-height: 1;
		letter-spacing: normal;
		text-transform: none;
		display: inline-block;
		white-space: nowrap;
		word-wrap: normal;
		direction: ltr;
		-webkit-font-feature-settings: 'liga';
		-webkit-font-smoothing: antialiased;
	}
	.material-icons-outlined {
		font-family: 'Material Icons Outlined';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		line-height: 1;
		letter-spacing: normal;
		text-transform: none;
		display: inline-block;
		white-space: nowrap;
		word-wrap: normal;
		direction: ltr;
		-webkit-font-feature-settings: 'liga';
		-webkit-font-smoothing: antialiased;
	}
	.material-icons-round {
		font-family: 'Material Icons Round';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		line-height: 1;
		letter-spacing: normal;
		text-transform: none;
		display: inline-block;
		white-space: nowrap;
		word-wrap: normal;
		direction: ltr;
		-webkit-font-feature-settings: 'liga';
		-webkit-font-smoothing: antialiased;
	}
	.material-icons-sharp {
		font-family: 'Material Icons Sharp';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		line-height: 1;
		letter-spacing: normal;
		text-transform: none;
		display: inline-block;
		white-space: nowrap;
		word-wrap: normal;
		direction: ltr;
		-webkit-font-feature-settings: 'liga';
		-webkit-font-smoothing: antialiased;
	}
	.material-icons-two-tone {
		font-family: 'Material Icons Two Tone';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		line-height: 1;
		letter-spacing: normal;
		text-transform: none;
		display: inline-block;
		white-space: nowrap;
		word-wrap: normal;
		direction: ltr;
		-webkit-font-feature-settings: 'liga';
		-webkit-font-smoothing: antialiased;
	}

	.material-icons-two-tone ,
	.material-icons-sharp ,
	.material-icons-round ,
	.material-icons-outlined ,
	.material-icons{
		max-width: 40px;
		opacity: 0;
	}

/*--------------IRANSANS---------------*/
	@font-face {
	  font-family: IRANSansWeb;
	  font-style: normal;
	  font-weight: normal;
	  src: url('../fonts/IRANSANS/eot/IRANSansWeb(FaNum).eot');
	  src: url('../fonts/IRANSANS/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	     url('../fonts/IRANSANS/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	     url('../fonts/IRANSANS/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	     url('../fonts/IRANSANS/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
	}
	@font-face {
	  font-family: IRANSansWeb_Bold;
	  font-style: normal;
	  font-weight: bold;
	  src: url('../fonts/IRANSANS/eot/IRANSansWeb(FaNum)_Bold.eot');
	  src: url('../fonts/IRANSANS/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	     url('../fonts/IRANSANS/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	     url('../fonts/IRANSANS/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	     url('../fonts/IRANSANS/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
	}


/*--------------------------body---------------------*/
	ul{
		list-style: none;
	}
	button:focus , button:active{
		outline: none !important;
		box-shadow: none;
	}
	img {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;

		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
		user-drag: none;
	}
	h1 , h2 , h3 , h4 , h5 , h6 , p {
		margin-bottom: 0;
	}
	a{
		text-decoration: none;
	}
	a:hover{
		text-decoration: none !important;
		opacity: 0.8;
	}
	label{
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	input:focus , textarea:focus , select:focus{
		border: none !important;
		box-shadow: none !important;
        outline: none;
    }
	i{
		font-style: normal;
	}